@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9b483;
  color: white;
  font-family: 'Poetsen One', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  color: #25161b;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  border: none;
  background: #25161b;
  color: white;
  border-radius: 2rem;
  outline: none;
}

form button {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}

form button:hover {
  background: #25161b;
  color: orange;
}

.fa-plus-circle {
  margin-top: 0.3rem;
  margin-left: -8px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background: white;
  color: #25161b;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 2rem;
  border: 2px solid #25161b;
}

.todo li {
  flex: 1;
}

.trash-btn, .complete-btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.complete-btn {
  background: #25161b;
  color: orange;
}

.trash-btn {
  border-top-right-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
  background: #25161b;
  color: orange;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check-circle {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.slide {
  transform: translateX(10rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: #25161b;
  color: white;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

select {
  width: 10rem;
  height: 3.2rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: white;
  color: #25161b;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: orange;
  color: #25161b;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.clear-all-btn {
  background: #25161b;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.2rem; 
  transition: background 0.3s ease;
}


